.mat-column-select {
  overflow: initial;
}

.mat-header-cell {
  text-transform: capitalize;
}

.selection-column {
  flex: 0;
  margin-right: 24px;
}

.edit-column {
  flex: 0;
  margin-left: 24px;
  overflow: visible;
}

.edit-column {
  mat-icon {
    visibility: hidden;
    cursor: pointer;
  }
}

mat-row:hover {
  .edit-column {
    mat-icon {
      visibility: visible;
    }
  }
}
