<mat-card>
  <mat-card-title>
    {{sectionTitle}}
    <button *ngIf="selection.selected.length === 0" mat-icon-button (click)="showNewDialog()">
      <mat-icon>add_circle</mat-icon>
    </button>
    <button *ngIf="selection.selected.length !== 0" mat-icon-button (click)="removeSelected()">
      <mat-icon>remove_circle</mat-icon>
    </button>
  </mat-card-title>
  <mat-card-content>
    <mat-table #table [dataSource]="models">
      <!-- Header Row -->
      <mat-header-row *matHeaderRowDef="getListHeaderColumns()"></mat-header-row>
      <mat-row *matRowDef="let row; columns: getListHeaderColumns();"></mat-row>

      <!-- Checkbox Column -->
      <ng-container matColumnDef="select">
        <mat-header-cell class="selection-column" *matHeaderCellDef>
          <mat-checkbox (change)="$event ? toggleAll() : null"
                        [checked]="selection.hasValue() && isAllSelected()"
                        [indeterminate]="selection.hasValue() && !isAllSelected()">
          </mat-checkbox>
        </mat-header-cell>
        <mat-cell class="selection-column" *matCellDef="let row">
          <mat-checkbox (click)="$event.stopPropagation()"
                        (change)="$event ? selection.toggle(row) : null"
                        [checked]="selection.isSelected(row)">
          </mat-checkbox>
        </mat-cell>
      </ng-container>

      <!-- Data Columns -->
      <ng-container *ngFor="let field of fields" [matColumnDef]="getFieldName(field)">
        <mat-header-cell *matHeaderCellDef> {{ getFieldName(field) }} </mat-header-cell>
        <mat-cell *matCellDef="let element" (click)="onFieldValueListClick($event, field, element)"> {{ getListValue(element, field) }} </mat-cell>
      </ng-container>

      <!-- Edit Column -->
      <ng-container matColumnDef="edit">
        <mat-header-cell class="edit-column" *matHeaderCellDef>
          <mat-icon>edit</mat-icon>
        </mat-header-cell>
        <mat-cell class="edit-column" *matCellDef="let row">
            <mat-icon (click)="showEditDialog(row)">edit</mat-icon>
        </mat-cell>
      </ng-container>
    </mat-table>
  </mat-card-content>
</mat-card>
