<div mat-dialog-content>
  <mat-form-field
    *ngFor="let field of data.fields"
  >
    <input
      matInput
      *ngIf="fieldIsInput(field)"
      [(ngModel)]="data.model[getFieldProperty(field)]"
      [placeholder]="getFieldName(field)"
    >
    <mat-select
      *ngIf="fieldIsSelect(field)"
      [(value)]="data.model[getFieldProperty(field)]"
      [placeholder]="getFieldName(field)"
      [multiple]="field.multiple"
    >
      <mat-option
        *ngFor="let option of field.options"
        [value]="option.value"
      >
        {{ option.text }}
      </mat-option>
    </mat-select>
  </mat-form-field>
</div>
<div mat-dialog-actions>
  <rm-loading-button [loading]="loading" (push)="save()">Save</rm-loading-button>
</div>
