<div *ngIf="myLeaguesService.hasLeagues" class="league">
  <div>
    Penalización: {{ myLeaguesService.currentTradePercentageCost }} <br>
  </div>
  <rm-driver *ngFor="let driver of myLeaguesService.myDrivers" [driver]="driver" [showMenu]="false"></rm-driver>
  <div>
    Puntos: {{ myLeaguesService.myPoints }} <br>
    Dinero: {{ myLeaguesService.myMoney }} <br>
    Broker: {{ myLeaguesService.myBroker }}
  </div>
  <div *ngIf="myLeaguesService.items && myLeaguesService.items.length > 1" >
    <mat-menu #leaguesMenu="matMenu">
      <button
        mat-menu-item
        *ngFor="let league of myLeaguesService.items"
        (click)="myLeaguesService.setSelected(league)"
      >
        <span>{{ league.name }}</span>
      </button>
    </mat-menu>

    <button mat-raised-button color="primary" [matMenuTriggerFor]="leaguesMenu">
      <span>{{ myLeaguesService.selected.name }}</span>
    </button>
  </div>
  <button *ngIf="myLeaguesService.hasPendingChanges" mat-raised-button color="accent" [disabled]="!canSave()">
    <span>Guardar Cambios</span>
  </button>
</div>
