<div *ngIf="myLeaguesService.hasLeagues" class="league">
  <rm-driver *ngFor="let driver of myLeaguesService.myDrivers" [driver]="driver" [showMenu]="false"></rm-driver>
  <div>
    Dinero: {{ myLeaguesService.myMoney }} <br>
    Total: {{ myLeaguesService.myTotal }}
  </div>
  <div *ngIf="myLeaguesService.items && myLeaguesService.items.length > 1" >
    <mat-menu #leaguesMenu="matMenu">
      <button
        mat-menu-item
        *ngFor="let league of myLeaguesService.items"
        (click)="myLeaguesService.setSelected(league)"
      >
        <span>{{ league.name }}</span>
      </button>
    </mat-menu>

    <button mat-button [matMenuTriggerFor]="leaguesMenu">
      <span>{{ myLeaguesService.selected.name }}</span>
    </button>
  </div>
</div>
