<mat-card>
  <mat-card-title>Escuderías</mat-card-title>

  <mat-card-content>
    <mat-table #table [dataSource]="teams">
        <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
        <mat-row *matRowDef="let row; columns: displayedColumns;"></mat-row>

        <ng-container matColumnDef="Team">
            <mat-header-cell *matHeaderCellDef> Team </mat-header-cell>
            <mat-cell class="teamColumn" *matCellDef="let element">
              <img class="flagImg" src="../../../../assets/icons/flags/{{element.countryCode}}.png" alt="flag">
              <img class="seasonTeamImg" [src]="getTeamImg(element.code)">
            </mat-cell>
        </ng-container>
        <ng-container matColumnDef="TeamName">
            <mat-header-cell *matHeaderCellDef> Nombre </mat-header-cell>
            <mat-cell *matCellDef="let element"> {{element.name}} </mat-cell>
        </ng-container>
        <ng-container matColumnDef="Drivers">
            <mat-header-cell *matHeaderCellDef> Pilotos </mat-header-cell>
            <mat-cell *matCellDef="let element">
                <rm-driver
                  *ngFor="let driverId of element.driverIds"
                  [driverCode]="getDriverCode(driverId)"
                ></rm-driver>
            </mat-cell>
        </ng-container>
        <ng-container matColumnDef="Points">
            <mat-header-cell *matHeaderCellDef> Puntos </mat-header-cell>
            <mat-cell *matCellDef="let element"> {{getTeamPoints(element.driverIds)}} </mat-cell>
        </ng-container>
        <ng-container matColumnDef="Factor">
            <mat-header-cell *matHeaderCellDef> Factor </mat-header-cell>
            <mat-cell *matCellDef="let element"> {{getTeamFactor(element.driverIds)}} </mat-cell>
        </ng-container>
    </mat-table>
  </mat-card-content>
</mat-card>
