<mat-card>
  <mat-card-title>Escuderías</mat-card-title>
  <mat-card-content>
    Tabla de escuderías
  </mat-card-content>

  <mat-card-content>
    <mat-table #table [dataSource]="teams">
        <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
        <mat-row *matRowDef="let row; columns: displayedColumns;"></mat-row>

        <ng-container matColumnDef="Team">
            <mat-header-cell *matHeaderCellDef> Team </mat-header-cell>
            <mat-cell *matCellDef="let element">
              <img class="seasonTeamImg" [src]="getTeamImg(element.code)">
            </mat-cell>
        </ng-container>
        <ng-container matColumnDef="TeamName">
            <mat-header-cell *matHeaderCellDef> Name </mat-header-cell>
            <mat-cell *matCellDef="let element"> {{element.name}} </mat-cell>
        </ng-container>
        <ng-container matColumnDef="Drivers">
            <mat-header-cell *matHeaderCellDef> Drivers </mat-header-cell>
            <mat-cell *matCellDef="let element">
                <rm-driver
                  *ngFor="let driverId of element.driverIds"
                  [driverCode]="getDriverCode(driverId)"
                ></rm-driver>
            </mat-cell>
        </ng-container>
        <ng-container matColumnDef="Points">
            <mat-header-cell *matHeaderCellDef> Points </mat-header-cell>
            <mat-cell *matCellDef="let element"> {{getTeamPoints(element.driverIds)}} </mat-cell>
        </ng-container>
        <ng-container matColumnDef="Factor">
            <mat-header-cell *matHeaderCellDef> Factor </mat-header-cell>
            <mat-cell *matCellDef="let element"> {{getTeamFactor(element.driverIds)}} </mat-cell>
        </ng-container>
    </mat-table>
  </mat-card-content>
</mat-card>
