<div mat-dialog-content>
  <form (keydown)="submitOnEnter($event)">
    <mat-form-field>
      <input
        matInput
        [formControl]="username"
        placeholder="Nombre de usuario"
      >
    </mat-form-field>
    <mat-form-field>
      <input
        matInput
        [formControl]="password"
        type="password"
        placeholder="Contraseña"
      >
    </mat-form-field>
  </form>
</div>
<div mat-dialog-actions>
  <rm-loading-button [disabled]="!isValid()" [loading]="loading" (push)="login()">Login</rm-loading-button>
</div>
