mat-cell {
  display: flex !important;
  justify-content: center !important;
  align-items: center;
  flex-direction: column;
  .flagImg {
    width: 20px;
    height: 20px;
    position: absolute;
    padding-right: 90px;
    padding-bottom: 88px;
  }
}

mat-header-cell {
  display: flex;
  justify-content: center;
}
