.driverImage {
  width: 120px;
  padding: 5px 5px 0px 0px;
  img {
    max-width: 100%;
  }
  mat-icon {
    color: #c2185b;
    position: absolute;
    z-index: 10;
    background: transparent;
    cursor: default;
    margin-left: 90px;
  }
}

