.driverImage {
  width: 120px;
  padding: 5px 5px 0px 0px;
  img {
    max-width: 100%;
  }
  .shadowOption {
    background-color: rgba(0, 0, 0, 0.3);
    position: absolute;
    z-index: 10;
    // background: transparent;
    cursor: default;
    margin-left: 7%;
    margin-top: 5px;
    width: 25px;
    height: 32px;
  }

  // button.mat-icon {
  //   // color: #c2185b;
  //   color: yellow;
  //   position: absolute;
  //   z-index: 10;
  //   background: transparent;
  //   cursor: default;
  //   margin-left: 90px;
  // }
}

.driverImage .mat-button-wrapper {
  padding: 0px !important;
}
