<div class="driverImage">
  <div *ngIf="authService.isLoggedIn">
    <mat-menu #menuPilots="matMenu">
      <button *ngFor="let pilot of myLeaguesService.myUser && myLeaguesService.myUser.pilots"
        mat-menu-item
        (click)="changePilot(pilot.code, driverCode)"
        >{{pilot}}
      </button>
    </mat-menu>

    <button mat-fab [matMenuTriggerFor]='menuPilots' class="shadowOption">
      <div class="fabArea">
        <mat-icon class="material-icons">more_vert</mat-icon>
      </div>
    </button>
  </div>
  <img [src]="getDriverImageUrl()">
</div>
