<div class="driverImage">
  <div *ngIf="myLeaguesService.hasLeagues && showMenu">
    <mat-menu #menuPilots="matMenu">
      <button *ngFor="let myDriver of myLeaguesService.myDrivers; let i = index"
        mat-menu-item
        [disabled]="!myLeaguesService.canBuyDriver(driver, i)"
        (click)="myLeaguesService.setDriver(i, driver)"
        >{{ myDriver && myDriver.name || 'Piloto ' + (i + 1) }}
      </button>
    </mat-menu>

    <button mat-fab [matMenuTriggerFor]='menuPilots' class="shadowOption">
      <div class="fabArea">
        <mat-icon class="material-icons">more_vert</mat-icon>
      </div>
    </button>
  </div>
  <img [src]="getDriverImageUrl()">
</div>
