<form [formGroup]="myForm">
  <div mat-dialog-content>
    <mat-form-field>
      <input matInput [(ngModel)]="username"
        [ngModelOptions]="{standalone: true}"
        placeholder="Username"
      >
    </mat-form-field>
    <mat-form-field>
      <input matInput [(ngModel)]="email"
        type="email"
        placeholder="Email"
        formControlName="emailValidate"
      >
      <mat-error *ngIf="myForm.get('emailValidate').errors
        && myForm.get('emailValidate').dirty
        && myForm.get('emailValidate').errors.errorUrl"
      >
          Please enter a valid email address
      </mat-error>
    </mat-form-field>
    <mat-form-field>
      <input matInput [(ngModel)]="password"
        type="password"
        placeholder="Password"
        formControlName="passwordValidate"
      >
      <mat-error *ngIf="myForm.get('passwordValidate').errors
        && myForm.get('passwordValidate').dirty
        && myForm.get('passwordValidate').errors.errorPass"
      >
          Password must be at least 8 chars, contain 1 number, lower and upper case and special char
      </mat-error>
    </mat-form-field>
    <mat-form-field>
      <input matInput [(ngModel)]="repeatedPassword"
        [ngModelOptions]="{standalone: true}"
        type="password"
        placeholder="Repeat Password"
      >
    </mat-form-field>
  </div>
  <div mat-dialog-actions>
    <rm-loading-button [disabled]="!validate()" [loading]="loading" (push)="register()">
      Register
    </rm-loading-button>
  </div>
</form>
