<mat-menu #userMenu="matMenu">
  <ng-template ngFor let-link [ngForOf]="links">
    <a *ngIf="!link.guard || link.guard()" mat-menu-item [routerLink]="link.url" routerLinkActive="active">
      <mat-icon *ngIf="link.icon">{{link.icon}}</mat-icon>
      {{link.text}}
    </a>
  </ng-template>
  <button mat-menu-item (click)="logout()">
    <mat-icon>power_settings_new</mat-icon>
    <span>Salir</span>
  </button>
</mat-menu>

<button mat-button [matMenuTriggerFor]="userMenu">
  <span>{{authService.username}}</span>
</button>
